a{
	text-decoration: none;
	color: #3C3B4B;
}
#text{
	font-family: arial;
}

.box{
	width: 300px;
	height: 416px;
	border-top:2px solid #206f96;
	/*border-right: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	border-left: 1px solid #cfcfcf;*/
	/*background: url(../img/head_bg.png) repeat-x ;*/
}

.head{
	width: 288px;
	height: 29px;
	border-left:1px solid #cfcfcf;
	border-right: 1px solid #CFCFCF;
	background: url(../img/head_bg.png) repeat-x ;
	font: bold 14px/29px "宋体";
	padding-left: 10px;
	
	
}

.content{
	width: 298px;
	height: 386px;
	border:1px solid #cfcfcf;
	/*font: 12px/25px "宋体"*/
	word-spacing: 4px;
	
	
}

.email {
	width: 249px;
	height: 38px;
	padding-left: 50px;
	padding-top: 19px;
	background: #ffffff url(../img/email.png) no-repeat 16px 25px;
	font: 12px/25px "宋体"
	

	
	
	
}

.game{
	width: 249px;
	height: 113px;
	border-bottom: 1px solid #f7f7f7;
	background: #f7f7f7 url(../img/game.png) no-repeat 9px 51px;

	
	padding-top: 13px;
	padding-left: 50px;
	font: 12px/25px "宋体"
	
	
	
}



.sns{
	width: 249px;
	height: 63px;
	border-bottom: 1px solid #ffffff;
	background: #ffffff url(../img/sns.png) no-repeat 15px 25px;

	
	padding-top: 13px;
	padding-left: 50px;
	font: 12px/25px "宋体"
	
}

.star{
	width: 249px;
	height: 114px;
	background: #f7f7f7 url(../img/star.png) no-repeat 12px 49px;
	border-bottom: 1px solid #cfcfcf;

	
	padding-top: 13px;
	padding-left: 50px;
	font: 12px/25px "宋体"
	

	
}





