#box{
	width:300px;
	height:2px;
	border-top:1px solid #206f96;
}
#itme1{
	width:298px;
	height:29px;
	border:1px solid #cfcfcf;
	border-top:none;
	}
/*#itme2{
	width:298px;
	height:56px;
	border-bottom:1px solid #ececec;
}*/
